<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.empit.bibliavetelkedo.wsgui.rest</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>login/login.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>org.empit.bibliavetelkedo.wsgui.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>Login</servlet-name>
    </filter-mapping>


    <servlet>
        <servlet-name>Registartion</servlet-name>
        <jsp-file>login/registartion.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registartion</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>home/home.html</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>HomePageFilter</filter-name>
        <filter-class>org.empit.bibliavetelkedo.wsgui.filter.HomePageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HomePageFilter</filter-name>
        <servlet-name>Home</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>Game</servlet-name>
        <jsp-file>game/game.html</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/Game</url-pattern>
    </servlet-mapping>
</web-app>
